<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <% menu.forEach((item,index)=>{ %>
            <p>Dish name:<%= item.name %> Price:<%= item.price %></p>
            <p>Rating:<%= item.rating %> Detail:<%= item.details %></p>
   <% }); %>     
</body>
</html>
